body {
  background: url(bg.jpeg);
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  margin-top: 7rem;

}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-black {
  background-color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 10px;
  border: 10px solid #fafafa;
  opacity:0.95;
  border-radius: 3px;
  margin-bottom: 3rem;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.danger {
  margin-bottom: 2.5rem;
  padding: 8px;
  background-color: yellow;
  color: red;
}
.success {
  margin-bottom: 2.5rem;
  padding: 8px;
  background-color: lightgreen;
  color: darkgreen;
}