{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
            <legend>Account</legend>
            <hr style="width:50%;text-align: left; margin-left:0; margin-top: 0">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endwith %}
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
  </div>
    <button type="button" onclick="window.location.href='{{ url_for( 'updateaccount' ) }}';">Update Account</button>
{% endblock content %}    