{% extends "layout.html" %}
{% block content %}
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
        $('a#process_input').bind('click', function() {
            $.getJSON('/background_process', {
            song_name: $('input[name="song_name"]').val(),
            }, function(data) {
            $("#result").text(data.result);
            });
            return false;
        });
        });
    </script>
    <script type=text/javascript>
        $(function() {
        $('a#playlist_play').bind('click', function() {
            $.getJSON('/playlist_play', {
            playlist_name: $('input[name="playlist_name"]').val(),
            }, function(data) {
            $("#result").text(data.result);
            });
            return false;
        });
        });
    </script>
    <script type=text/javascript>
        $(function() {
        $('a#playlist_pause').bind('click', function() {
            $.getJSON('/playlist_pause', {
            playlist_name: $('input[name="playlist_name"]').val(),
            }, function(data) {
            $("#result").text(data.result);
            });
            return false;
        });
        });
    </script>
    <script type=text/javascript>
        $(function() {
        $('a#playlist_next').bind('click', function() {
            $.getJSON('/playlist_next', {
            playlist_name: $('input[name="playlist_name"]').val(),
            }, function(data) {
            $("#result").text(data.result);
            });
            return false;
        });
        });
    </script>
    <script type=text/javascript>
        $(function() {
        $('a#playlist_previous').bind('click', function() {
            $.getJSON('/playlist_previous', {
            playlist_name: $('input[name="playlist_name"]').val(),
            }, function(data) {
            $("#result").text(data.result);
            });
            return false;
        });
        });
    </script>
    <script type=text/javascript>
        $(function() {
        $('a#playlist_stop').bind('click', function() {
            $.getJSON('/playlist_stop', {
            playlist_name: $('input[name="playlist_name"]').val(),
            }, function(data) {
            $("#result").text(data.result);
            });
            return false;
        });
        });
    </script>
</head>

<body>
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">  <!-- Encryption type-->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Search</legend>
                <hr style="width:50%;text-align: left; margin-left:0; margin-top: 0">
                <div class="form-group">
                    {{ form.song_name.label(class="form-control-label") }}
    
                    {% if form.song_name.errors %}
                        {{ form.song_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.song_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.song_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        <form>
            <input type=text size=5 name=playlist_name>
            <a href=# id=playlist_play><button class='btn btn-default'>Play</button></a>
            <a href=# id=playlist_pause><button class='btn btn-default'>Pause</button></a>
            <a href=# id=playlist_next><button class='btn btn-default'>Next</button></a>
            <a href=# id=playlist_previous><button class='btn btn-default'>Previous</button></a>
            <a href=# id=playlist_stop><button class='btn btn-default'>Stop</button></a>
        </form>
    <p id=result></p>
    </div>
</body>
{% endblock content %}
