{% extends "layout.html" %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
      body {
        margin-top: 5rem;
        float: left;
        padding: 0;
        background: #EEE;
        font-family:Optima;
      }
      div.r {
        text-align: center;
        float:right;
      }
      .wrap {
        overflow: hidden;
        margin: 10px;
        width : 100vw;
      }
      .box {
        float:left;
        position: relative;
        width:12.6vw;
        height:14.6vw;
      }
      .boxInner {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        overflow: hidden;
        box-shadow:0 4px 20px rgba(0, 0, 0, 0.6);
        border-radius:2px;
      }
      .boxInner img {
        width: 100%;
        height: 100%;
      }
      .boxInner .titleBox {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size:1.2em;
        line-height:1.1;
        background: #000;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
      }
      
    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 100vw;
        height: 100vw;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width: 47.9vw;
        height: 47.9vw;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 32.3vw;
        height: 32.3vw;
      }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 24.5vw;
        height: 24.5vw;
      }
    }
    </style>

</head>

<body>
  <p>Login to get access to unlimited music for free!</p>
  <h1>Latest Songs....</h1>
  <div class="wrap">
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/1Z53Q5KyKUB8AcpnO9eCoow2iA-y_8yBIQyKW1dT2Y24Ss98JHxE4zGD2mpdRddmO8pFfyIeYUdVmQs45A=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block;  padding-left: 0.4em;">Despacito</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/FXovf5dsRTw/Despacito/3:49/Luis%20Fonsi/1Z53Q5KyKUB8AcpnO9eCoow2iA-y_8yBIQyKW1dT2Y24Ss98JHxE4zGD2mpdRddmO8pFfyIeYUdVmQs45A%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/TMbA3LImAL96nFkm5cI1x6LiEMvMbRg4IRxEeABd9qpXsfmwKhZHRD1MucnjG5QIsVEp0Vpn7h7M51FH3Q=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block;  padding-left: 0.4em;">Shape of you</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/xTvyyoF_LZY/Shape%20of%20You/3:54/Ed%20Sheeran/TMbA3LImAL96nFkm5cI1x6LiEMvMbRg4IRxEeABd9qpXsfmwKhZHRD1MucnjG5QIsVEp0Vpn7h7M51FH3Q%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/AhK3o07HdRpZNMz8nbPyKrFhwvdTGLJzx07UeIdaqdMDZpW-T0jlbAKD1wUlS-H4s6hw_F0cTbSDkyEx=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Baby</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/GqWYJT-iMTw/Baby%20%28feat.%20Ludacris%29/3:35/Justin%20Bieber/AhK3o07HdRpZNMz8nbPyKrFhwvdTGLJzx07UeIdaqdMDZpW-T0jlbAKD1wUlS-H4s6hw_F0cTbSDkyEx%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/WbQvmYqxKwEbLPj5zSlYe5vrxipjJAaCxqB1cJxyzljnvIr9i4Ix9fyxK9h9BXq5a3jyvPdvGKI_2vWXnA=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Faded</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/pIWaVJPl0-c/Faded/3:33/Alan%20Walker/WbQvmYqxKwEbLPj5zSlYe5vrxipjJAaCxqB1cJxyzljnvIr9i4Ix9fyxK9h9BXq5a3jyvPdvGKI_2vWXnA%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/94aNLMzVkgqt5A5ulNnW3wDs_DE0xhOB0ifmIQ-5zbn0Vbo9z99nYg7bKxqT1oxVsCgHfmF6QVZFHhE=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Dame tu cosita</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/s7hkh5FutpU/Dame%20Tu%20Cosita%20%28feat.%20Cutty%20Ranks%29/2:24/El%20Chombo/94aNLMzVkgqt5A5ulNnW3wDs_DE0xhOB0ifmIQ-5zbn0Vbo9z99nYg7bKxqT1oxVsCgHfmF6QVZFHhE%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/Ak5CO_M3Xnwazx0_zh0g2gwySIgSUFC98MONAyplPqYLUjWvPWH-sJXzrLNAznB2ZgZ5hYQm7OUKZO0K=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">See You Again</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/4YNaaX0-nbI/See%20You%20Again%20%28feat.%20Charlie%20Puth%29/3:50/Wiz%20Khalifa/Ak5CO_M3Xnwazx0_zh0g2gwySIgSUFC98MONAyplPqYLUjWvPWH-sJXzrLNAznB2ZgZ5hYQm7OUKZO0K%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/hChcdJkpKRDaaowWQhFxc4ZK7_jcDqQydpG8NUXbyPQUxMNYzpgLhVdU-csAFhcGhi-mYPiFZGR3cQmK=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Let me love you</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/rJ0D1GbDq1Q/Let%20Me%20Love%20You%20%28feat.%20Justin%20Bieber%29/3:26/DJ%20Snake/hChcdJkpKRDaaowWQhFxc4ZK7_jcDqQydpG8NUXbyPQUxMNYzpgLhVdU-csAFhcGhi-mYPiFZGR3cQmK%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/8wMcyJUf_TH65Rlsu_nM98sPC9OyR2Bcn-C0q1TA4tuVnbmmdcwAdos1xh2GF9qetGzx8ng67KEaCTlemQ=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">You and I</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/uWRwLfWwZe0/You%20%26%20I/3:58/One%20Direction/8wMcyJUf_TH65Rlsu_nM98sPC9OyR2Bcn-C0q1TA4tuVnbmmdcwAdos1xh2GF9qetGzx8ng67KEaCTlemQ%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/RWp6xYchtFg37DeLr-yxYOE6qWcPYApWuXkk3EYm_RLoqTtCTv-qPOyAy1F8wWjjiD1ZA99lmIrTAxs=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Yummy</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/IBIxNypW6qM/Yummy/3:29/Justin%20Bieber/RWp6xYchtFg37DeLr-yxYOE6qWcPYApWuXkk3EYm_RLoqTtCTv-qPOyAy1F8wWjjiD1ZA99lmIrTAxs%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/xpDEOr2TeqEn1QpXosXhqtj149FzNnTgAG3oqPnpTxTbQk-oceO90Sz4Axq0s4Jp_QLGQha_um6_EG3WGQ=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Perfect</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/ORrFJ63nlcA/Perfect/4:24/Ed%20Sheeran/xpDEOr2TeqEn1QpXosXhqtj149FzNnTgAG3oqPnpTxTbQk-oceO90Sz4Axq0s4Jp_QLGQha_um6_EG3WGQ%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/dzpmzTpQLVrjYIZfMeyXeIHer10zf4cUU6GHSmgaV-RosRg-OaxjwvVFcj__bAiiBz19emxU7f5KHog=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Afterglow</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/G8a0t9hxyaI/Afterglow/3:06/Ed%20Sheeran/dzpmzTpQLVrjYIZfMeyXeIHer10zf4cUU6GHSmgaV-RosRg-OaxjwvVFcj__bAiiBz19emxU7f5KHog%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/WbQvmYqxKwEbLPj5zSlYe5vrxipjJAaCxqB1cJxyzljnvIr9i4Ix9fyxK9h9BXq5a3jyvPdvGKI_2vWXnA=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Darkside</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/CXU7Xlf8wTI/Darkside/3:32/Alan%20Walker/WbQvmYqxKwEbLPj5zSlYe5vrxipjJAaCxqB1cJxyzljnvIr9i4Ix9fyxK9h9BXq5a3jyvPdvGKI_2vWXnA%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/TlXKDSRGrj0ogqmGbzyGvZrsT9T0F6xgV-2-3pelbzRms0cODdb-ndDg6SpFzkHYMb4NMMMW957wmrObfw=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">We don't talk anymore</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/ffqliB42Nh4/We%20Don%27t%20Talk%20Anymore%20%28feat.%20Selena%20Gomez%29/3:38/Charlie%20Puth/TlXKDSRGrj0ogqmGbzyGvZrsT9T0F6xgV-2-3pelbzRms0cODdb-ndDg6SpFzkHYMb4NMMMW957wmrObfw%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/p27-yULJr9QtyiKZ_C4hoy92A9COtzxBAtx62OueZUeiUU4ZZLttlASDms2GyqlWaCX6FlKYXIiDVUgP=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Cheap Thrills</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/K_idN3P5_yk/Cheap%20Thrills/3:31/Sia/p27-yULJr9QtyiKZ_C4hoy92A9COtzxBAtx62OueZUeiUU4ZZLttlASDms2GyqlWaCX6FlKYXIiDVUgP%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/4qMKSJ1gM_5toS54F0NvHZVrYijmIpW7I5JF00Jy8Iq98Wpso6OLoqV1Ijlf1pyURxZwF1wL7dLDJyDj=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Lean on</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/jp-VifGYRTE/Lean%20On%20%28feat.%20M%C3%98%20%26%20DJ%20Snake%29/2:57/Major%20Lazer/4qMKSJ1gM_5toS54F0NvHZVrYijmIpW7I5JF00Jy8Iq98Wpso6OLoqV1Ijlf1pyURxZwF1wL7dLDJyDj%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/8B8WYr_z_wCdMGdf0H2Eg3nnsZmq4BGVXJUCDhlwg_gC9ILiYc5buUrl10bCfEtHQrvJIwG0k7yrhZA=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Counting stars</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/n_l-uxCekIA/Counting%20Stars/4:17/OneRepublic/8B8WYr_z_wCdMGdf0H2Eg3nnsZmq4BGVXJUCDhlwg_gC9ILiYc5buUrl10bCfEtHQrvJIwG0k7yrhZA%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/jvgMIjgbvnqnwLwjtqNa0euo9WStdIxrJnpQURgbwuPazT2OpZUdYPZe1gss2fK39oC8ITofFmeGxKY=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Closer</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/r7zTKRonHXM/Closer%20%28feat.%20Halsey%29/4:06/The%20Chainsmokers/jvgMIjgbvnqnwLwjtqNa0euo9WStdIxrJnpQURgbwuPazT2OpZUdYPZe1gss2fK39oC8ITofFmeGxKY%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/tObb9ZdLOKRb9SXVMTwd_Hv0HipV0241NJ57vY4RLVkFHtj1CfIplS0MOaPkeuTuqoPJ37Smz_5lxwN3=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Amnesia</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/7GK8D3IPeCY/Amnesia/3:58/5%20Seconds%20Of%20Summer/tObb9ZdLOKRb9SXVMTwd_Hv0HipV0241NJ57vY4RLVkFHtj1CfIplS0MOaPkeuTuqoPJ37Smz_5lxwN3%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>

    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/rhjGmaqXfkddHYKBb2_IknkG9wE5kSneviJ9y5dz0Uu3qO4Hb6tVGTgyPVmDmoQhFq1o-NJRUZ6Sw1wg=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Holy</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/4j6ZYUXj24o/Holy%20%28feat.%20Chance%20The%20Rapper%29/3:33/Justin%20Bieber/rhjGmaqXfkddHYKBb2_IknkG9wE5kSneviJ9y5dz0Uu3qO4Hb6tVGTgyPVmDmoQhFq1o-NJRUZ6Sw1wg%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>

    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/O0BM0qveWB40423x8L9AdJxuMcBhFg0x_UtCbFQ_pRwbF412bmnlKj420gEPx1wwwAVpyXHpHp35cAU=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Hey Jude</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/mQER0A0ej0M/Hey%20Jude/7:06/The%20Beatles/O0BM0qveWB40423x8L9AdJxuMcBhFg0x_UtCbFQ_pRwbF412bmnlKj420gEPx1wwwAVpyXHpHp35cAU%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>

    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/URvHCfI2iyGAlAwqqBFeaFhU9DeKk_iuX40OIIIj8Zp0wIT3BVsJ2JRMwLLbUB9EZS7t7oDlMrI2S3OvGA=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Billie Jean</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/Kr4EQDVETuA/Billie%20Jean/4:55/Michael%20Jackson/URvHCfI2iyGAlAwqqBFeaFhU9DeKk_iuX40OIIIj8Zp0wIT3BVsJ2JRMwLLbUB9EZS7t7oDlMrI2S3OvGA%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>

    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/9CrMB2k2WFBUGXQXlaFfwP8e5_Q8FiUqQ8ljMGWm22VyLmvLZEqBMPUNjf6FNZrmMDUBTlEsFxk88_kOCQ=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Bohemian Rhapsody</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/bSnlKl_PoQU/Bohemian%20Rhapsody/5:55/Queen/9CrMB2k2WFBUGXQXlaFfwP8e5_Q8FiUqQ8ljMGWm22VyLmvLZEqBMPUNjf6FNZrmMDUBTlEsFxk88_kOCQ%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>

    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/BrsYefH_wa7YCHHvB6yVQ1FWD7SrTEs6GnYnq9_qIWsOQkytPaPhf94fydNRdfMCAF3X_AtrZZ6kjxs=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Waterloo sunset</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/SJ1BuKUCIC8/Waterloo%20Sunset%20%28Mono%20Mix%29/3:15/The%20Kinks/BrsYefH_wa7YCHHvB6yVQ1FWD7SrTEs6GnYnq9_qIWsOQkytPaPhf94fydNRdfMCAF3X_AtrZZ6kjxs%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/-BKEXZcs-IGotKwpAsKodxUmoBiEWDTV3UQRiSRZ6rCeZyBvalZrR4ew-T37TCtC3ecCN9Np3AfgXEtF=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Creep</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/9RfVp-GhKfs/Creep/3:56/Radiohead/-BKEXZcs-IGotKwpAsKodxUmoBiEWDTV3UQRiSRZ6rCeZyBvalZrR4ew-T37TCtC3ecCN9Np3AfgXEtF%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/cHaRyci2upQidmt3iHYeAzbkFJ_c1vXEJbpVh-RZpAnbyMNOtOAeZdNMoJnUrRMZnjipmxfxvuvBeFzhWw=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Yesterday</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/NrgmdOz227I/Yesterday%20%28Remastered%202009%29/2:06/The%20Beatles/cHaRyci2upQidmt3iHYeAzbkFJ_c1vXEJbpVh-RZpAnbyMNOtOAeZdNMoJnUrRMZnjipmxfxvuvBeFzhWw%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/UgiyhZaKEOvKq-KJC3_FpLvLrs4Ww_a6rbEwT1eIhiSzNMRXWXU74rnhUMlETXCFwka7DyUonVeUa3o=w60-h60-s-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Gimme Shelter</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/EJRdDhnTRoo/Gimme%20Shelter/4:31/The%20Rolling%20Stones/UgiyhZaKEOvKq-KJC3_FpLvLrs4Ww_a6rbEwT1eIhiSzNMRXWXU74rnhUMlETXCFwka7DyUonVeUa3o%3Dw60-h60-s-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/E0IBYINB0SrkUivXMwTtNHryCvmEyDvAnKwmc7O1OOtGC-gp9XR_g_f4UIuqDdWgI46JawhJshLfO4Nj=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">Your Song</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/Ti4rsC40aVA/Your%20Song/3:00/RITA%20ORA/E0IBYINB0SrkUivXMwTtNHryCvmEyDvAnKwmc7O1OOtGC-gp9XR_g_f4UIuqDdWgI46JawhJshLfO4Nj%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <img src= "https://lh3.googleusercontent.com/YO5-g33HQaj6VdLVSrqVXAN6oOu_K0dS_lz2Y0Vnwyp96R5YROPQrCwj1_G6tjDqLEYuZaUXOH_z1cg=w60-h60-l90-rj"/>
        <div class="titleBox">
            <div style = "padding-top: 0.3em; display: inline-block; padding-left: 0.4em;">The twist</div>
            <div class = "r">
              <a class="nav-item nav-link" href = "http://127.0.0.1:3000/browse/vuQyUMOK-K0/The%20Twist/2:38/Chubby%20Checker/YO5-g33HQaj6VdLVSrqVXAN6oOu_K0dS_lz2Y0Vnwyp96R5YROPQrCwj1_G6tjDqLEYuZaUXOH_z1cg%3Dw60-h60-l90-rj"><i class="fa fa-play" style="font-size:18px;color:wheat"></i></a>
            </div>     
        </div>
      </div>
    </div>


</body>

{% endblock content %}
